#judul{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    background : whitesmoke;
}

#nama{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background : whitesmoke;
}

#npm{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background : whitesmoke;
}

#univ{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background : whitesmoke;
}

#jurusan{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background : whitesmoke;
}

#tahun{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background : whitesmoke;
}

#hobi{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background : whitesmoke;
}

#bio{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background : whitesmoke;
}

#ig{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background : whitesmoke;
}

#twitter{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background : whitesmoke;
}