{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset= "utf-8">
        <title>Profile Zuhrah Annafira</title>
        <link href="{% static 'style.css'%}" rel="stylesheet" >
        <style>
            body {
                background : grey;
            }
            @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
        </style>
    </head>

    <body>
        <h1 id="judul"> MY Profile </h1>
        <h1 id="foto"> <img src="{%static '11823.jpg'%}" alt ="foto Zuhrah"       width="250px" height="250px"> </h1>
        <h1 id="nama"> Nama        : Zuhrah Annafira </h1>
        <h1 id="npm"> Npm        : 1806190954 </h1>
        <h1 id="univ"> Universitas : Universitas Indonesia </h1>
        <h1 id="jurusan"> Jurusan     : Sistem Informasi </h1>
        <h1 id="tahun"> Angkatan    : 2018 </h1>
        <h1 id="hobi"> Hobi        : Makan </h1>
        <h1 id="bio"> Bio         : Seorang manusia yang juga bernapas</h1>
        <h1 id="ig"> instagram   : <a href="https://www.instagram.com/zuhanfir/" target="_blank"> @zuhanfir </a><h1>
        <h1 id="twitter"> Twitter     : <a href="https://twitter.com/zuhanfir" target="_blank"> @zuhanfir </a> </h1>
    </body>
</html>
